body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;    
}


.app {
    margin-top: 50px;
}

.postsTitle{
    color:#252525;
}

h5 {
    font-weight:700;
    font-size: 17px;
}

.postDetails {
    color: #898989;
    font-size: 13px;
}

.commentBody{
    font-size: 14px;
}

.commentDetails{
    font-size: 12px;
    font-weight: bold;
    color: #898989;
}
